<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tareas</title>
  </head>
  <body>
    <form>
      <label for="fecha_tarea">Fecha: </label>
      <input type="date" name="fecha_tarea" id="fecha_tarea" />
      <label for="horas_tarea">Horas: </label>
      <input type="number" name="horas_tarea" id="horas_tarea" />
      <textarea
        name="text_area"
        id="text_area"
        cols="50"
        rows="10"
        maxlength="250"
      ></textarea>
    </form>
  </body>
</html>
